 
  /*  bootstrap table stuff */
 .fixed-table-container thead th,
 .fixed-table-container thead th input,
 .fixed-table-container thead th select {
  background: #3f51b5;
  color: #dddddd;
}

 .fixed-table-container thead th .select2-container--default .select2-selection--single,
 .fixed-table-container thead th .select2-container--default .select2-selection--single .select2-selection__rendered,
 .fixed-table-container thead th input {
  background: #3f51b5;
  color: #A0E056;
  border: 1px solid #3f51b5;
}

.table tfoot td {
    color: #3f51b5;
}

/*  end:bootstrap table stuff */
/*  dataTable table stuff */
.dataTable thead th,
.dataTable thead th input,
.dataTable thead th select {
  background: #3f51b5;
  color: #dddddd;
}

.dataTable thead th:first-child {
    border-left: none;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}
/*  end:dataTable table stuff */