.map {
    height: 415px;
    width: 500px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 30px;
}

#floating-panel {
    position: absolute;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
}

.float-right {
    float: right;
}