.no-error {
    color: black !important;
}

.navbar-user {
  background-color: #FFFFFF !important;
  border-color: transparent;
  height: 94px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.event{
    display: block;
    margin-bottom: 40px;
    margin-top: 100px;
    overflow: hidden;
}

.eventlabels{
  font-size: 20px !important;
}

.dlabels{
  font-size: 30px;
  margin-right: 25px;
}

.mensaje{
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
  color: #00008E;
}

.no-click{
  cursor:default !important;
}

.logo{
  width: 65px;
  height: 70px;
  margin-right: 15px;
}

.flexslider {
    width: 760px;
    height: 510px;
}

.flexslider .slides img {
    width: 750px;
    height: 500px;
}

.flex-direction-nav{
  line-height: 40px !important;
}

.customslider{
  width: 900px;
  height: 300px;
}

.container-user{
	margin: 15px auto;
}

.nav-user{
    margin-top: 5px;
}

.body-user{
	background-color: #f5f5f5 !important;
}

.author,a:hover{
  text-decoration: none;
}

li > a:hover{
  background: none;
  background-color: transparent !important;
}

.author{
  color: #333 !important;
  font-style: italic;
}

.black{
  color: #333 !important;
}

.a-user{
	color: #333 !important;
}

.read a{
  text-decoration: none;
}

a:hover{
    background: white;
    color: #0C7CD5 !important;
    cursor: pointer;
  }

.nopadding {
   padding: 0 !important;
}

.nomargin{
  margin: 0 !important;
}

.allmargin{
  margin: 20px !important;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.post{
  margin-top: 60px;
}

.post span:first-child{
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.post span {
    line-height: 15px;
    border-right: solid 1px #e8e8e8;
}
.post span {
    padding-right: 15px;
    padding-left: 15px;
}

span.material, span.author {
    border: none !important;
}
span.material, span.author {
    padding: 0 !important;
}

.read-more{
  border: #0C7CD5;
  padding-top: 2px;
  border-style: solid;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 10px;
}

.read{
  margin-bottom: 20px;
}

.hr-user{
  margin-bottom: 8px;
}

.panel-user{
	-webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 40px;
}

.contenidonoticia{
  font-size: 15px;
}

.commentbox{
  padding: 20px;
  background-color: #FFFFFF;
}

.box{
  border-radius: 5px !important;
  background-color: #EEEEEE;
  resize:none;
  padding: 10px !important;
}


.commentcontainer{
  background-color: #FFFFFF;
}
.commenttop{
  padding:20px;
}

.commentArea{
  padding:20px;
  height: 150px !important;
}

.header{
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.header:hover{
  color: #1669D8;
}

.date{
  float: right;
  font-style: italic;
  color: #1669D8;
}

.commentcontent{
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 15px;
}

.panel-heading-user{
	background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.title{
	font-size: 30px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 0px;
  font-weight: bold;
  float:left;
}

.title:hover {
    color: #1669D8;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

img.preview {
  display: block;
  width: 200px;
  height: 150px;
  padding: 5px;
}